<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Home_Assistant_Agent_for_SteamVR.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Home_Assistant_Agent_for_SteamVR.Settings>
            <setting name="Port" serializeAs="String">
                <value>8077</value>
            </setting>
            <setting name="ExitWithSteamVR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
        </Home_Assistant_Agent_for_SteamVR.Settings>
    </userSettings>
</configuration>